.ferien {
	 overflow:auto;
}

.ferien h1, h2, h3, h4, h5, h6 {
	color: hsl( 126, 50%, 40% );
	padding: 0px;
	margin: 0 0 0;
	font-weight: normal;
	text-transform: none;
	letter-spacing: 0.0;
}

.ferien table {
  border-collapse:collapse;
  border:none;
  font-size: 0.4em;
  max-width:100%;
  overflow:hidden;
}


@media screen and (min-width: 768px) {
	.ferien table {
		font-size: 0.6em;
	}
}

@media screen and (min-width: 1001px) {
	.ferien table {
		font-size: 0.8em;
	}
}

.ferien td {
  border:1px solid #4CAF50;
  padding-left:5px;
  padding-right:5px;
}

.ferien tr:nth-child(even) {background-color: #f2f2f2}

.ferien th {
    background-color: #4CAF50;
    color: white;
    padding-left:5px;
    padding-right:5px;
}

.ferien th:first-child{
  border-radius:10px 0 0 0;
}

.ferien th:last-child{
  border-radius:0 10px 0 0;
}

.ferien tr:hover {background-color: #ccff66}